
.cards {
    width: auto;
    background-color: transparent;
    text-align: center;
    height: auto;
  }
  
  .cards-image {
    max-width: 100%;
    height: auto;
  }
  
  .cards-title {
    font-size: 1.5rem;
    margin-top: 0;
    color: #333; 
  }
  
  .card-description {
    color: #666; 
    font-weight: bold;
    margin-bottom: 10px;
   
    animation: blink 1s infinite; 
    
}
.subject {
  position:absolute;
  left:8%;
  font-weight: bold; 
}

.card-description:hover{
  background-color: #e7e6e6;
 
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  } 
  }
  
  .ok {
    margin-top: 20px;
    color: red;
    
  }
  
  .ok-button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
  
    &:hover {
      background-color: #0056b3;
    }
  }

.icon{
  color:red;
  width: 500px;
  height: 200px;
  animation: pulse 2s infinite;
  position: relative; 

  
}

@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.8); 
  }
  100% {
    transform: scale(0.7);
  }
  
}
.title-count {
  position: relative;
  left: -30px;
  top:-25px ;
  
  background-color: red; 
  color: white; 
  font-size: 12px; 
  border-radius: 50%; 
  padding: 4px 8px;
   
   
  }

  
.mail{
  color:red;
  height:30px
}
.small-button {
  font-size: 12px; 
  padding: 5px 10px; 
}


  